In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('expense_data_1.csv')
df = df[['Date','Category','Amount']]
df.columns = ["Sana", "Toifasi", "Miqdori"]
df

                 Sana         Toifasi  Miqdori
0      3/2/2022 10:11            Food     50.0
1      3/2/2022 10:11           Other    300.0
2      3/1/2022 19:50            Food     78.0
3      3/1/2022 18:56  Transportation     30.0
4      3/1/2022 18:22            Food     67.0
..                ...             ...      ...
272  11/22/2021 14:16            Food     90.0
273  11/22/2021 14:16            Food     97.0
274  11/21/2021 17:07  Transportation    130.0
275  11/21/2021 15:50            Food    875.0
276  11/21/2021 13:30           Other   2000.0

[277 rows x 3 columns]

In [7]:
df.to_csv('expenses.csv')